.App {
  width: 1600px;
  height: 1434px;
  background: #f5f6fa;
  padding: 149px 60px 123px 100px;
}

.App-box {
  height: 1097px;
  width: 1400px;
  background: #fafafa;
  margin: 0 100px;
}

.app-title {
  height: 95px;
  width: 1400px;
  background: #fff;
  margin: 0 0 38px;
  display: flex;
}

.app-title span {
  width: 240px;
  height: 37px;
  margin: 29px 27px 29px 100px;
  font-family: 'Montserrat', serif;
  font-size: 30px;
  color: #0290ff;
}

.app-title span,
.app-title .books,
.app-title .catego {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.app-title .books {
  width: 59px;
  padding-top: 20px;
  height: 16px;
  margin: 18px 0 11px 0;
  font-family: 'Montserrat', serif;
  font-size: 13px;
  color: #121212;
  letter-spacing: 1.9px;
}

.app-title .catego {
  width: 105px;
  padding-top: 20px;
  height: 16px;
  margin: 18px 683px 11px 41px;
  opacity: 0.5;
  font-family: 'Montserrat', serif;
  font-size: 13px;
  color: #121212;
  letter-spacing: 1.9px;
}

.login-img {
  margin-top: 13px;
  margin-right: 99px;
  width: 45px;
  height: 45px;
  padding-top: 14px;
  display: inline-block;
}

.filter-book {
  margin-top: 1rem;
  position: absolute;
  left: 1315px;
  font-size: 1.2rem;
  height: 24px;
  color: #888;
  font-weight: bold;
  display: flex;
}

#select {
  height: 3rem;
  padding: 0.6rem 0;
  outline: none;
  font-size: 1.2rem;
}
