.book-holder {
  height: 170px;
  width: 1200px;
  margin: 38px 100px 0 100px;
  background-color: #fff;
  position: relative;
}

.per-book-holder {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
}

.per-book-holder span,
.book-edit p {
  display: inline-block;
}

.book-cat {
  margin: 32px 1124px 0 0;
  color: #121212;
  margin-bottom: 0.5rem;
  font-size: 14px;
  opacity: 0.7;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  text-transform: capitalize;
}

.book-title {
  font-family: 'Gill Sans MT', serif;
  opacity: 0.9;
  font-size: 22px;
  letter-spacing: -0.2px;
  padding: 4px 0;
}

.book-author {
  margin-bottom: 10px;
}

.book-title,
.book-author,
.comp-text,
.percent,
.comment,
.book-edit button,
.edit,
.chapter-head {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.book-author,
.book-edit p,
.book-edit button {
  font-family: 'RobotoSlab', 'Gill Sans MT', serif;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
}

.book-edit {
  display: flex;
  margin-left: 27px;
  margin-bottom: 28px;
}

.book-edit .comment,
.book-edit button {
  margin-right: 17px;
  cursor: pointer;
}

.book-edit .edit {
  cursor: pointer;
}

.book-edit button {
  height: 1rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 0.8rem;
  padding: 0 17px;
  border-left: 1px solid #bfd6eb;
  border-right: 1px solid #bfd6eb;
}

.perc-complt {
  display: flex;
  position: absolute;
  left: 532px;
  bottom: 50px;
}

.percent-box {
  margin-left: 21px;
}

.percent-box p,
.prog-button p {
  margin: 0;
}

.percent {
  font-size: 32px;
  color: #121212;
  padding: 0.4rem 0;
}

.comp-text {
  font-size: 14px;
  color: #121212;
  opacity: 0.5;
}

.prog-button {
  position: absolute;
  left: 869px;
  bottom: 35px;
}

.chapter-head {
  opacity: 0.5;
  font-family: 'RobotoSlab', serif;
  font-size: 13px;
  font-weight: 300;
  color: #121212;
  padding-bottom: 0.6rem;
}

.cur-chapter {
  font-size: 16px;
  font-weight: 300;
  color: #121212;
  letter-spacing: -0.4px;
  font-family: 'RobotoSlab', serif;
}

.upd-button {
  font-family: 'RobotoSlab', serif;
  font-size: 13px;
  font-weight: 300;
  padding: 0.4rem;
  text-align: center;
  color: #fff;
  background-color: #0290ff;
  border-radius: 3px;
  width: 184px;
  margin-top: 1.3rem;
  height: 33px;
}
