.panel {
  position: relative;
}

.add-head {
  position: absolute;
  left: 13rem;
  top: 0;
  font-size: 20px;
  letter-spacing: -0.18px;
  color: #888;
  font-weight: bold;
}

.input-box {
  position: absolute;
  left: 13rem;
  display: flex;
  top: 5rem;
  margin-bottom: 5rem;
}

#inputTitle {
  height: 45px;
  width: 450px;
  font-size: 1.1rem;
  padding-left: 1rem;
  outline: none;
}

#selectOpt {
  margin-left: 3rem;
  padding: 0.6rem;
  font-size: 1.1rem;
  outline: none;
}

#add-book {
  margin-left: 2.4rem;
  width: 184px;
  outline: none;
  font-size: 1rem;
  background-color: #0290ff;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
